body {
	background-color:#000000;
	color: #AAAAAA;
	font-size: 28px;
	font-family: 'Inconsolata', monospace;
	font-weight: 700;
}

#container {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#board {
	width: 900px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 48px;
	min-height: 60px;
	
}

#gallows {
	float: left;
	width: 450px;
	text-align: center;
	min-height: 280px;
}

#alphabet {
	float: left;
	width: 450px;
	text-align: center;
	min-height: 280px;
}

.letter {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	float: left;
	cursor: pointer;
	border-radius: 15px;
}

.letter:hover {
	background-color: #222222;
	color: white;
	border: 3px solid white;
}

.reset {
	color: green;
	cursor: pointer;
	font-size: 48px;
}

.reset:hover {
	color: white;
}

.red {
	margin: 1em;
	height: 10em;
	width: 10em;
	background-color: red;
}

.green {
	margin: 1em;
	height: 10em;
	width: 10em;
	background-color: green;
}

.blue {
	margin: 1em;
	height: 10em;
	width: 10em;
	background-color: blue;
}

.revContainer {
	display: inline-flex
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: green;
	opacity: 0.7;
	color: white;
	text-align: center;
	font-size: medium;
}

.footer a {
	text-decoration: none;
	color: #253858
}

i:hover {
	color: #0357d1
}